[2017-01-25 10:21] fxding opened #2 "Cannot restore checkpoint"
Hello, This is really a great library, but when I try to restore checkpoint I get error:
Checkpoint: `https://www.dropbox.com/s/7r6lnilgt78ljia/fcn_8s.tar.gz?dl=0`
Code:
[code]
Error:
[code]

[2017-01-31 15:50] VittalP commented on #2
Try this.

`with tf.Session() as sess:
    saver = tf.train.import_meta_graph('./models/fcn_8s_checkpoint/model_fcn8s_final.ckpt.meta')
    saver.restore(sess, './models/fcn_8s_checkpoint/model_fcn8s_final.ckpt')`

[2017-01-31 15:53] VittalP commented on #2
Try this.

[code]

[2017-02-04 23:51] meetshah1995 opened #3 "Use scipy.misc.imread instead of PIL Image"
WRT

https://github.com/warmspringwinds/tf-image-segmentation/blob/master/tf_image_segmentation/utils/tf_records.py#L37

I think you should reconsider using scipy.misc.imread in place of PIL Image, because for VOC datasets, the PIL loads a grayscale image for the segmentation annotation, while a 3 channel input is necessary to determine the segments.

[2017-02-09 01:04] vijtad opened #4 "Incompatible shapes"
I used import_meta_graph and restore and have used my own image.

 I am getting this error

Incompatible shapes: [1,30,40,21] vs. [1,18,28,21] at

image_np, pred_np = sess.run([image_tensor, pred], feed_dict=feed_dict_to_use)

[2017-02-09 03:20] ahundt opened #5 "Are forked repositories required? What commits to use?"
Is semantic segmentation not possible with this repository and upstream tensorflow and tensorflow/models alone [as detailed in your comment](https://github.com/warmspringwinds/tf-image-segmentation/blob/master/tf_image_segmentation/models/fcn_32s.py#L104)?

It seems that, for example, upstream tensorflow/models [vgg](https://github.com/tensorflow/models/blob/master/slim/nets/vgg.py) doesn't contai

[2017-02-09 13:00] warmspringwinds commented on #5
Hi,

We have mentioned it here:
https://github.com/warmspringwinds/tf-image-segmentation#installation

Basically, you need a custom ```tensorflow/models``` fork.

[2017-02-09 13:05] warmspringwinds commented on #3
Hi,

Can you elaborate more?

I agree ```PIL``` is a bad dependency.

I needed a way to do [this](https://github.com/scikit-image/scikit-image/issues/2408).

If it is possible to do with  ```scipy.misc.imread```, I would be glad to change it.

[2017-02-09 13:06] warmspringwinds commented on #4
Hi,

Please, provide the full code that you run.

[2017-02-09 21:30] vijtad commented on #4
I am using Python 3.5 on Windows 10
Thanks

Here is the code.

from __future__ import division

import os
import sys
import tensorflow as tf
import skimage.io as io
import numpy as np

sys.path.append("tf-image-segmentation/")
sys.path.append("/home/dpakhom1/workspace/my_models/slim/")

fcn_16s_checkpoint_path = \
 'C:/TensorFlow/checkpoints/vgg_16.ckpt'

os.environ["CUDA_VISIBLE_DEVICES"] = '1'

[2017-02-09 22:04] ahundt commented on #4
Please correct the formatting of your post to be displayed as code:
https://help.github.com/articles/creating-and-highlighting-code-blocks/

[2017-02-09 22:16] ahundt commented on #5
I don't think this branch exists:

`git clone -b fully_conv_vgg https://github.com/warmspringwinds/models`

[2017-02-10 00:33] vijtad commented on #4
....
from __future__ import division

import os
import sys
import tensorflow as tf
import skimage.io as io
import numpy as np

sys.path.append("tf-image-segmentation/")
sys.path.append("/home/dpakhom1/workspace/my_models/slim/")

fcn_16s_checkpoint_path = \
 'C:/TensorFlow/checkpoints/vgg_16.ckpt'

os.environ["CUDA_VISIBLE_DEVICES"] = '1'

slim = tf.contrib.slim

from tf_image_segmentation.models.

[2017-02-10 00:33] vijtad commented on #4
[code]

[2017-02-11 08:51] ahundt commented on #5
turns out I'm not using that model, so not needed. Though I think one of the other branches in the repository referenced does work.

[2017-02-11 08:51] #5 closed

[2017-02-11 08:55] ahundt opened #6 "TF AdamOptimizer dimension size error."
I'm implementing a couple new fcn networks for testing purposes, but for some reason I'm getting dimension errors when I call [tf.train.AdamOptimizer in densenet_fcn.py](https://github.com/ahundt/tf-image-segmentation/blob/ahundt-keras/tf_image_segmentation/recipes/pascal_voc/FCNs/densenet_fcn.py#L132) on the model.

Here is the error:

[code]

have you seen anything like it or have advice on fixi

[2017-02-11 08:59] ahundt commented on #6
Specifically 3096576/147456 = 21 which is the number of classes I have. Should I add something to remap the 21 classes into a single channel? Is there an existing function to do that?

[2017-02-11 09:58] ahundt commented on #6
fixed it, wasn't using the result of get_valid_logits_and_labels

[2017-02-11 09:58] #6 closed

[2017-02-14 04:09] ahundt opened #8 "tf 1.0 changes tf.pack -> tf.stack"
tf.pack should become tf.stack. There are a number of other changes that need to be applied for tf 1.0.

https://github.com/tensorflow/tensorflow/releases

[2017-02-15 19:19] surfreta opened #9 "regarding use this framework for my semantic segmentation work"
Hi,

I have several questions regarding using this library

1) If the studied data set is of totally different domain with the typical benchmark set, such as PASCAL VOC,
What should be the right pipeline of using your framework. Can I still use the pre-trained model(weight) and re-train the model using my dataset?

2) The problem I am studying is of limited number of images, each of this image has

[2017-02-27 08:50] MrChristo59 commented on #9
I'm also very interested in any advices for generating a new dataset to be trained.

[2017-02-27 17:03] warmspringwinds commented on #9
@surfreta @MrChristo59

I will load an example of usage for different dataset that I have done recently.

Small number of images is usually a problem.

Reusing pretrained weights won't make it worse I think.
At least, all of the works that I have seen before, use pretrained weights.

Let me know if it helps.

[2017-02-27 17:05] warmspringwinds commented on #8
@ahundt, I guess I will create a separate branch since tf 1.0 is not backwards compatible.

[2017-02-27 17:07] warmspringwinds commented on #4
@vijtad , I didn't test this code for python 3 yet.
It makes it hard for me to understand what's the reason for your mistake.

If you solve it, feel free to post your workaround.

[2017-02-28 00:44] ahundt commented on #8
the changes were quite minor

[2017-02-28 19:40] MrChristo59 commented on #9
Don't know if I understood it right but will you upload a example of how to re-train the model with a new dataset ?
If i'm right, that will be awesome !

[2017-02-28 20:20] warmspringwinds commented on #9
@MrChristo59 , yeah, that is what I meant :)

[2017-03-01 08:44] MrChristo59 commented on #9
Looking forward to it.

Just a little question to be sure I'm right.
For creating a dataset to be trained for segmentation, you need an image and a another one with the mask of what you want to learn. I guess the color of the mask will define the type of class it will refer to.
Am I right ? If yes, are there any advice on the proper way to do this mask (border size and color...)
Thanks

[2017-03-05 08:59] naharsingh commented on #4
Hi @vijtad, @warmspringwinds, i am getting same issue with python 2.7. Would you please suggest solution.

[2017-03-06 01:12] vijtad commented on #8
I am getting following error after changing tf.stack
[code]

[2017-03-09 11:40] FrederikHaa commented on #8
I think that is a general problem with tf 1.0
Might be related to https://github.com/tensorflow/models/issues/672

[2017-03-09 11:54] FrederikHaa opened #10 "OutOfRangeError: RandomShuffleQueue '_1_shuffle_batch/random_shuffle_queue' is closed and has insufficient elements (requested 1, current size 0)"
Hello,

I am trying to use the framework to segment images of bacteria.

I am trying to use the provided recipe for FCN_32s, but with a few adaptations for my custom data set (different lut, changed image size and number of classes)

The entire script looks like this:

`import tensorflow as tf
import tensorflow.contrib.slim as slim
import numpy as np
import skimage.io as io
import os, sys
from mat

[2017-03-09 21:53] FrederikHaa commented on #10
This happens at the first train step, so it appears that the queue is never filled

[2017-03-10 02:55] vijtad commented on #8
You are correct, it was due to tf.zeros_initializer.
Due to api change, I should put parenthesis () to make it work in fc_8s.py
Thanks

[2017-03-10 03:00] vijtad opened #11 "computed output size would be negative"
I am getting following error when I am running sticker example in Windows 10/Python 3.5.

'''
computed output size would be negative

	 [[Node: fcn_8s/vgg_16/fc6/convolution = Conv2D[T=DT_FLOAT, data_format="NHWC", padding="VALID", strides=[1, 1, 1, 1], use_cudnn_on_gpu=true, _device="/job:localhost/replica:0/task:0/cpu:0"](fcn_8s/vgg_16/pool5/MaxPool, fcn_8s/vgg_16/fc6/weights/read)]]

Caused by

[2017-03-11 06:44] zhaozj89 commented on #8
Is tensorflow 1.0 backend available?

I am using windows python3.5 tensorflow 1.0, and it always reports errors that I cannot fix myself.

[2017-03-11 15:53] vijtad commented on #8
I was able to run sticker example successfully on TF 1.0/Python 3.5 /Windows 10.
I used VS 2015 to debug Python code.

Few changes has to be done to make it work.

Segmentation of sticker cat is not producing good result as described in the article.
I have attached the images.
Please give me suggestion on how to improve segmentation quality.
![small_cat](https://cloud.githubusercontent.com/assets/

[2017-03-11 22:49] vijtad commented on #4
I highlighted my workaround to make it work in Python 3.5 as described in https://github.com/warmspringwinds/tf-image-segmentation/issues/11
But still segmentation is not perfect.

Waiting for your help on perfect segmentation.

[2017-03-12 02:32] zhaozj89 commented on #8
Thanks for the reply. I just find a way to use [tensorflow upgrade tool] (https://www.tensorflow.org/install/migration) to upgrade the folder `models` and `tf-image-segmentation` automatically. And it works fine now.

[2017-03-12 02:36] zhaozj89 commented on #8
Also I think if you use `fcn_8s_checkpoint_path = 'C:/TensorFlow/checkpoints/vgg_8.ckpt' instead of ``fcn_16s_checkpoint_path = 'C:/TensorFlow/checkpoints/vgg_16.ckpt'`, it may produce better segmentation result. But I am not sure.

[2017-03-12 03:03] vijtad commented on #8
fcn_16s_checkpoint_path variable is not being used in the code.

I am using model_fcn8s_final.ckpt provided in dropbox.

saver.restore(sess, "C:/temp/model_fcn8s_final.ckpt")

On Sat, Mar 11, 2017 at 9:36 PM, zhaozj89 <notifications@github.com> wrote:

[2017-03-12 16:57] FrederikHaa commented on #10
I think I have narrowed the problem down to how the tfrecord is made. I create the file using the following script:

[code]

But there seem to be some inconsistencies:

read_image_annotation_pairs_from_tfrecord expects the annotation image to only have 1 channel
`annotation = annotation_1d.reshape((height, width))` in tf_records.py

However, the FCN_32s model require that the annotations are of th

[2017-03-13 07:42] ahundt commented on #4
@vijtad Perfect segmentation remains an open research question. In other words, nobody has solved it yet. Here is a leaderboard where you can see what it means to have state of the art results: http://host.robots.ox.ac.uk:8080/leaderboard/displaylb.php?challengeid=11&compid=6

[2017-03-13 07:52] ahundt commented on #8
@vijtad can you please submit a pull request with your changes rather than including them in comments? That allows us to review and merge the code.

Here are two documents that explain how:
https://gist.github.com/Chaser324/ce0505fbed06b947d962
https://help.github.com/categories/collaborating-with-issues-and-pull-requests/

[2017-03-15 07:37] MrChristo59 commented on #9
Hey Dannill,
Did you release the exemple yet ? Don't know if it's on your blog or on the git.

[2017-03-17 19:44] ahundt opened #12 "Pascal VOC directory fix"
The pascal voc directories need to be fixed as they are currently in multiple locations, leading to confusion.

This file:
https://github.com/warmspringwinds/tf-image-segmentation/blob/master/tf_image_segmentation/utils/pascal_voc.py

should most likely be in this folder:
https://github.com/warmspringwinds/tf-image-segmentation/tree/master/tf_image_segmentation/recipes/pascal_voc

Either that or v

[2017-03-17 19:47] ahundt opened #13 "tfrecords should also include depth and format"
https://github.com/ahundt/tf-image-segmentation/blob/ahundt-keras/tf_image_segmentation/utils/tf_records.py

I believe this TFRecord format currently has implicit information including:

- number of channels
- channel order (bgr vs rgb)

Would it be okay to update this to include the relevant information?

[2017-03-23 09:56] sebaschaal commented on #4
I have a similar problem.

I made no changes to your code, but I also get compatibility issues. I narrowed it down to the following:

[code]
[code]

Some wiring is not done correctly in my view. I experimented with different input size:

- 616x616   --> Incompatible shapes: [1,38,38,21] vs. [1,26,26,21]

- 500x500   --> Incompatible shapes: [1,32,32,21] vs. [1,20,20,21]

- 598x800   --> Incompatib

[2017-03-24 11:11] naharsingh commented on #4
Hi Sebastian,
I was getting same issue and resolved by using branch of vgg
'git clone -b fully_conv_vgg HTTPS://github.com/warm spring winds/models

Hope it will help.

On 23 Mar 2017 3:26 p.m., "Sebastian Schaal" <notifications@github.com>
wrote:

narrowed it down to the following:

last_layer_upsampled_by_factor_2_logits

[1,38,38,21] vs. [1,26,26,21] [[Node: fcn_8s/add = Add[T=DT_FLOAT,
_device

[2017-03-29 06:26] vj-1988 commented on #10
I am also facing the same issue while training the VOC dataset. Any updates on this error?

[2017-03-29 20:29] Bato803 opened #14 "Can we fine tune the FCN_8s network on our own dataset?"
Hi, I was wondering if we can utilize the fcn_8s_train.py file to fine-tuned the FCN8s on our own dataset. It seems that when I do this, there is an incompatible shape problem because my dataset only has 7 classes. Besides, the fcn_8s_train.py file is trained on FCN_16s, am I right? So it might be improper for me to use that script. Any suggestion is welcome. Thanks

[2017-04-05 00:24] dongzhuoyao opened #15 "cityscapes multi patch fusion"
hi,when we use cityscapes ,the input image size of the network can not be too high,such as 400*400,however, the image size of cityscapes is 1024*2048.

so we could crop the image into many patches overlapeddly.and do inference seperately,finally do a fusion .so get the final predict result.

could you realize a interface of the process of multi-patch fusion?

[2017-04-06 14:07] barryridge commented on #8
Hi @warmspringwinds, @vijtad, @ahundt,

I took the liberty of submitting a PR that adds forward/backward compatibility for tf-1.0.x with version checks at all the fail points in the code based on the output of [tf_upgrade_tool.py](https://www.tensorflow.org/install/migration) as suggested by @zhaozj89.

Please have a look and consider merging.  As I say in the PR though, I'm unsure if this type of

[2017-04-11 07:21] MrChristo59 commented on #14
Did you manage to tune the network with your dataset ? I also want to do that but can't find the right way.

[2017-04-11 14:12] Bato803 commented on #14
@MrChristo59 I would like to suggest you check on this site: https://github.com/MarvinTeichmann/tensorflow-fcn, which I found out how to fine-tune on my own dataset. I noticed that for FCN, there is no need to have the deconv layer pre-trained, as long as we wanted to change the number of output neurons, we will need to train the deconv layer from stratch.

[2017-04-13 08:15] jhjang opened #17 "Question about training my own dataset"
First of all, thank for this great library.

I want to train my own dataset so I tried to change codes.
But there are one error and one question.

I have 2 class so I changed number_of_classes variable's value from 21 to 2 in fcn_8s_train.ipynb.
Then error is occurred. The message is

[code]

Could you help me to solve this error?

Second question is about labeling.
As I said, I want to train 2 cl

[2017-04-18 06:40] jhjang commented on #10
I got this error, too. Did you get any solution?

[2017-04-19 20:35] ahundt opened #18 "colored segmentation to gray class value png"
You mentioned there is a more efficient function for converting the colored segmentation pngs to gray class pngs where the value is the class number. Which is the preferred function to do this?

[2017-04-19 22:04] warmspringwinds commented on #18
We read the png file in the following way:
https://github.com/warmspringwinds/tf-image-segmentation/blob/master/tf_image_segmentation/utils/tf_records.py#L37

This give you the classes and not the rgb values

[2017-04-25 03:19] ahundt commented on #18
Thanks!

[2017-04-25 03:19] #18 closed

[2017-04-30 05:36] yt7589 opened #19 "Does it work in tensorflow v1.0.0?"
It is a great library. But when I use tensorflow v1.0.0 it didn't work.

My code:
class FcvImgSeg(object):
    def __init__(self):
        print('init')
        self.slim = tf.contrib.slim
        self.fcv_ckpt_path = './models/lcct/model_fcn8s_final.ckpt'
        self.number_of_classes = 21
        self.img_filename = './work/cat.jpg'

    def seg_img_fcv(self, img_filename):
        print('segme

[2017-05-05 13:25] shivam-kotwalia commented on #8
Hi @barryridge Just tested for the tf_upgrade_tool.py and it worked like a charm. :) :+1:

[2017-05-05 23:31] ahundt opened #20 "tensorflow 1.1 and tensorflow/models workarounds"
If you're running resnet with the latest tensorflow and tensorflow/models you will need the following:
https://github.com/tensorflow/models/pull/1447

I plan to update this with additional info for running on tensorflow 1.1

[2017-05-06 08:47] amiltonwong opened #21 "dataset for convert_pascal_voc_to_tfrecords.ipynb"
Hi, @warmspringwinds ,

According to this [notebook](https://github.com/warmspringwinds/tf-image-segmentation/blob/master/tf_image_segmentation/recipes/pascal_voc/convert_pascal_voc_to_tfrecords.ipynb), the dataset for VOC2012 and benchmark_RELEASE are needed?
Could you list the download link for the corresponding dataset?

Thanks!

[2017-05-06 15:37] vaklyuenkov commented on #10
So, I have the same error on FCN_8s. Any ideas?

[2017-05-07 18:23] vaklyuenkov commented on #10
In my case problem was connected with black and white images with shape [width, height, 1] instead [width, height, 3].

 So, this code for preparing tfrecords fix problem:

`        if img.size == height * width:
                im = np.empty((height, width, 3), dtype=np.uint8)
                im[:, :, :] = img[:, :, np.newaxis]
                img = im
`

[2017-05-09 19:18] nealmcb commented on #19
Looks like #20 and #8 are relevant, given the [significant changes in the API for Tensorflow 1.0](https://www.tensorflow.org/install/migration).
Perhaps the PR there will help: [Fix for #8: make forward/backward compatible with tf-1.0.x.](https://github.com/warmspringwinds/tf-image-segmentation/pull/16).

[2017-05-15 00:47] ahundt commented on #21
These instructions will get you set up. That readme utilizes my branch of tf-image-segmentation:
https://github.com/aurora95/Keras-FCN#datasets

[2017-05-15 18:41] ahundt commented on #19
try applying my pull request, I'm running it on tf 1.1 https://github.com/warmspringwinds/tf-image-segmentation/pull/7

[2017-05-15 18:42] ahundt commented on #10
@FrederikHaa Can you create a pull request with these fixes?

[2017-05-17 10:55] BrianOn99 commented on #20
With this commit, should we specify `spatial_squeeze=False` in `tf_image_segmentation/models/resnet_v1_101_8s.py`?

[2017-05-17 14:49] ahundt commented on #20
They've merged the fix. Yes `spatial_squeeze=False` because that would reduce the number of output dimensions and we are making predictions with the same dimensions as the input.

[2017-05-17 14:49] #20 closed

[2017-06-06 01:53] ghost opened #22 "can not find "fc_conv_padding" parameter in function vgg.vgg_16"
when i read the code fcn_32s.py , i find that it called function vgg.vgg_16 and passing into a parameter called fc_conv_padding="SAME".
            logits, end_points = vgg.vgg_16(mean_centered_image_batch,
                                            num_classes=number_of_classes,
                                            is_training=is_training,
                                            spati

[2017-06-06 06:07] ghost commented on #22
you can actually remove `fc_conv_padding='SAME'` because, in definition of  `vgg.vgg_16,` the argument for `slim.conv2d` is already included ( `padding='VALID'`)

[2017-06-06 06:46] ghost opened #23 "Error during training in training.py"
while training I am getting error in line
 `valid_logits_batch_tensor = tf.gather_nd(params=logits_batch_tensor, indices=valid_batch_indices)` in function `training.py`

Error:

	 [[Node: adam_vars/gradients/GatherNd_1_grad/ScatterNd = ScatterNd[T=DT_FLOAT, Tindices=DT_INT32, _device="/job:localhost/replica:0/task:0/cpu:0"](ToInt32_3/_587, adam_vars/gradients/Reshape_4_grad/Reshape/_589, adam_vars

[2017-06-09 06:37] ghost commented on #23
I was using tf 1.0 version, after upgrading to tf 1.1 the issue is resolved.

[2017-06-09 06:37] #23 closed, assigned to nobody

[2017-06-10 11:38] jeansely commented on #21
Hi,
in the pascal_voc.py from https://github.com/farizrahman4u/keras-contrib/tree/master/keras_contrib/datasets
when run "pascal_voc.py oascal_voc_setup" occur some error ;
**Exception originated from within Sacred.
Traceback (most recent calls):
File "C:\Program Files\python3.5\python-3.5.3.amd64\lib\sacred\experiment.py",
line 242, in run_commandline
return self.run(cmd_name, config_updates, nam

[2017-06-14 06:08] ghost commented on #10
This training code assumes the number of training samples = 11127. If at all the training sample is different from this default value, you need to change it accordingly. I also faced the same issue, because my custom dataset contains less training sample. After doing this fix the code is working fine.

[2017-06-16 15:35] ankur2136 opened #24 "Getting widely different results on new runs."
Here are 3 results of segmentation on the same image.

![figure_1](https://user-images.githubusercontent.com/6739498/27233486-73492a6a-526e-11e7-984e-99bb2e2bf7cc.png)
![figure_2](https://user-images.githubusercontent.com/6739498/27233487-734b6d84-526e-11e7-9c90-d7fe47aba8c2.png)
![figure_3](https://user-images.githubusercontent.com/6739498/27233485-734815a8-526e-11e7-8883-0894d6249f70.png)

Here

[2017-06-20 20:27] liujiaohit commented on #11
hi, do you solve the problem? I have the similar error.

[2017-06-30 00:25] ghost opened #26 "Realtime image segmentation"
Daniil, your tensorFlow project is great for search human on images. Thanks for it! Let me introduce myself - Artyom, russian developer. And i want to ask you: is it possible to create tensorflow realisation with realtime detection from video? (like your cut a human from photo). Even on powerfull servers one image processing too slow for realtime project.

[2017-07-13 08:40] jhjang commented on #10
@nirmaljith Can you explain how to change the number of training samples? I can't find the variable to change the numbers.

[2017-07-21 15:24] ghost commented on #10
@jhjang Its not assigned to any variable in the code, so may find it difficult to figure out. In code  tf-image-segmentation/tf_image_segmentation/recipes/pascal_voc/FCNs/fcn_32s_train.ipynb you have to change the value in xrange. The original code assumes training samples to be 11127

`for i in xrange(11127 * 10):`

[2017-07-24 01:34] jhjang commented on #10
@nirmaljith I got it. Thank for your helping :)

[2017-07-24 17:05] arasharchor commented on #4
I have changed nothing in running FCN_32s_train.py except changing image size and number of classes.
image_train_size = [850, 850]
number_of_classes = 2
I had created tfrecord successfully, but after running fcn_32s_train.py I get the following error:
@vijtad @naharsingh @warmspringwinds @sebaschaal
[code]

basically this line shows the error:
[code]

[2017-07-24 22:50] warmspringwinds commented on #4
Hi, this library will be heavily refactored in a month or so.

So far please check out this:
https://github.com/warmspringwinds/dense-ai

It has all the same functionality and even more.

2017-07-24 10:05 GMT-07:00 Seyed Majid Azimi <notifications@github.com>:

[2017-07-25 01:37] warmspringwinds commented on #26
Hi,

Did you use enable GPU on your machine?

You can also use smaller network like Resnet-18 or Resnet-34.
It is available here:
https://github.com/warmspringwinds/dense-ai

[2017-07-25 01:38] warmspringwinds commented on #24
I think, weights are being initialized over and over on each of your runs.
Check your code carefully and let me know

[2017-07-25 09:33] arasharchor commented on #4
thanks Daniil @warmspringwinds. I am not so familiar with torch. I have worked mostly with tensorflow. That would be super great if you could give me a hint what causes the mentioned error in this library.

[2017-08-19 03:50] huangzicheng opened #28 "how to solve this error?"
![20170819114828](https://user-images.githubusercontent.com/30286349/29483229-8417d81c-84d4-11e7-8e69-4f660f325ba1.png)

[2017-08-23 20:29] fmthoker opened #29 "convert_pascal_voc_to_tfrecords error"
While running the notebook i get the following error.

IOError                                   Traceback (most recent call last)
<ipython-input-6-a73d41ec39a5> in <module>()
     24
     25 write_image_annotation_pairs_to_tfrecord(filename_pairs=overall_train_image_annotation_filename_pairs,
---> 26                                          tfrecords_filename='pascal_augmented_train.tfrecords')

[2017-09-05 20:58] rnunziata opened #31 "Results very poor"
My code runs and display two images but the segmentation is just very very poor  similar to issue #24, can you see if I am calling the routines incorrectly.

[code]

[2017-09-06 03:01] John1231983 opened #32 "Could we achieve real-time running in the Cityscapes dataset"
I have scheduled to change from CAFFE to Tensorflow. I achieve a real-time running in City-scapes data set by using CAFFE. I would like to know is it possible to run realtime using Tensorflow? It may depend on network architecture, but just assume it is FCN for simply. Thanks

[2017-09-08 01:44] linus007 commented on #6
i meet the the same question, how did u solve it?

[2017-09-11 14:10] supriya-godge opened #33 "[`labels` out of bound]"
I am getting the below error in the testing module.

 I only have 2 labels  as 255 is not included in the classes.

[2017-09-18 01:31] fastlater commented on #31
@rnunziata   what is your input image? Can you upload your image, so I can test it with my code too?
Depending on the complexity of the image, the results may vary.

[2017-09-18 01:36] fastlater commented on #32
@John1231983  Depending on complexity of the input image, the results may vary. I tested this code and also deeplab resnet. FCN is more simple and the code is easier to read, however, the result is not as good as deeplab resnet. The problem with the second one is, the tensorflow version of the code is not well documented, the forum is closed and the code is harder to understand (at least for begin

[2017-09-19 01:05] rnunziata commented on #31
Image:
![living-room](https://user-images.githubusercontent.com/5377074/30571297-a1a6f14a-9c9b-11e7-9eed-3d692715ebeb.jpg)

[code]

[2017-09-19 05:37] fastlater commented on #31
![figure_1](https://user-images.githubusercontent.com/30107093/30577150-ef2e23ea-9d3e-11e7-9b9a-80a155c4487c.png)

This what I got. As you said, the result is very poor.

However, as you can see from the demo
http://warmspringwinds.github.io/tensorflow/tf-slim/2017/01/23/fully-convolutional-networks-(fcns)-for-image-segmentation/
This code suppose to work well for simple cases. The code is a simpl

[2017-10-10 19:36] hanskrupakar commented on #29
Hey, I got a similar error. I didn't know what the problem was so I simply circumvented it by ensuring all image and annotation filenames exist by adding this condition [at Line 36 in utils/tf_records.py](https://github.com/warmspringwinds/tf-image-segmentation/blob/dd02343d8e0df9b4aa9a9d217999bef8b32903bb/tf_image_segmentation/utils/tf_records.py#L36)

    for img_path, annotation_path in filenam

[2017-10-24 04:51] caxton opened #34 "FailedPreconditionError (see above for traceback): Attempting to use uninitialized value fcn_8s/pool3_fc/biases [[Node: fcn_8s/pool3_fc/biases/read = Identity[T=DT_FLOAT, _class=["loc:@fcn_8s/pool3_fc/biases"], _device="/job:localhost/replica:0/task:0/cpu:0"](fcn_8s/pool3_fc/biases)]]"
`saver = tf.train.import_meta_graph('./fcn_8s_checkpoint/model_fcn8s_final.ckpt.meta')
    saver.restore(sess,"./fcn_8s_checkpoint/model_fcn8s_final.ckpt")`

Got an error on TF 1.3.0 without GPU, any idea?

FailedPreconditionError                   Traceback (most recent call last)
<ipython-input-1-94be5ce765f8> in <module>()
     60     saver.restore(sess,"./fcn_8s_checkpoint/model_fcn8s_final.ck

[2017-11-02 05:55] caxton commented on #31
I got a better result by removing this line:
`saver = tf.train.import_meta_graph('./fcn_16s_checkpoint/model_fcn16s_final.ckpt.meta') # placed locally`

[2017-11-02 07:15] #34 closed, assigned to nobody

[2017-11-02 10:48] caxton commented on #8
@vijtad I refer your code and got an error below, any idea? I also found that you use `prediction_mask = (pred_np.squeeze() == 8)` instead of `prediction_mask = (pred_np.squeeze() == 15)`, why?
Any suggestion is appreciated, thanks.

[code]

[2017-11-15 13:18] vinayakarannil commented on #10
I am still facing this issue...any solutions? i am running training script for my own dataset. Training script runs successfully for the same number of training samples of pascal voc, but not for my dataset. So its not the issue of number of training samples in my case

[2017-11-16 00:58] B-Xi commented on #6
I meet the the a question like that when I use MomentumOptimizer  , how did u solve it?

[2017-11-16 06:58] vinayakarannil commented on #10
i followed the comment by @ahundt  written in "tfrecords should also include depth and format #13" and now my problem is solved.

[2017-11-16 06:59] vinayakarannil commented on #13
this can solve OutOfRangeError (see above for traceback): RandomShuffleQueue '_2_shuffle_batch/random_shuffle_queue' is closed and has insufficient elements (requested 1, current size 0)

[2017-11-23 14:28] whaoer commented on #6
i meet the the same question：
ValueError: Dimension size must be evenly divisible by 200704 but is 1179648 for 'Reshape_1' (op: 'Reshape') with input shapes: [128,6,6,256], [2] and with input tensors computed as partial shapes: input[1] = [?,200704].
 how did u solve it?

[2017-11-28 13:21] JosephKJ commented on #29
You need to convert the .mat annotations into images, before converting to tf_records

You can do this by:

[code]

[2017-11-28 15:19] vinita84 commented on #2
Hi,

where do I get model_fcn8s_final.ckpt from? I am getting an error like:

IOError: File ./models/fcn_8s_checkpoint/model_fcn8s_final.ckpt.meta does not exist.

I am completely new to this and don't understand where do I get the checkpoint file from. Is there some repository for it?

[2017-12-05 14:22] supriya-godge opened #35 "Protocol Buffer (.pb file)"
Did anyone try to create a .pb file(protocol buffer) for this model?
I have created and ran .pb file for other models but I am getting errors with this one.
I am facing some issues while feeding the input to the .pb file.

[2017-12-07 15:06] #35 closed, assigned to nobody

[2017-12-15 20:19] GHmaryam commented on #13
Trying to reproduce this error, it did not happen again but reproduced this error:

**FIFOQueue '_1_processed_queue' is closed and has insufficient elements (requested 7, current size 0)**

which I fixed by changing the following line (when building the graph and not in in the above mentioned tf_records.py file):

filename_queue = tf.train.string_input_producer([tfrecords_filename], num_epochs=num

[2017-12-21 19:06] deepk91 commented on #10
@vinayakkailas I am also running the same script but for my own dataset which has very less images around 250. How did you solve this error? What value of depth and format you used? It would be great if you can share this.

[2017-12-21 19:18] deepk91 commented on #9
Hey @warmspringwinds Did you upload any example of training a new dataset for your scripts? I am trying to train a new dataset which less number of images around 250 but facing the error of OutOfBound Error as listed in the issues. Could you help resolve this problem?

[2017-12-21 20:26] warmspringwinds commented on #9
Hi,

I would recommend trying this out, because it has an example of applying it
to different dataset:

https://github.com/warmspringwinds/pytorch-segmentation-detection

2017-12-21 14:18 GMT-05:00 deepk91 <notifications@github.com>:

[2017-12-21 21:53] deepk91 commented on #9
Thank you @warmspringwinds for this suggestion. I want to use FCN32s model for segmentation purpose initialized by VGG16. After going through some of your files what I understood is the script pascalvoc.py in dataset makes use of PASCAL 2012 and Berkeley Pascal dataset which you mentioned in this repository as well. I can substitute the root path to my dataset and it works similar to generating tf

[2017-12-23 12:17] mhjhamza opened #36 "Unsuccessful TensorSliceReader constructor: Failed to find any matching files for /model_fcn32s_final.ckpt"
Please refer to this question: https://stackoverflow.com/questions/47952187/image-segmentation-with-tensorflow-python

NotFoundError (see above for traceback): Unsuccessful TensorSliceReader constructor: Failed to find any matching files for /model_fcn32s_final.ckpt
	 [[Node: save/RestoreV2_31 = RestoreV2[dtypes=[DT_FLOAT], _device="/job:localhost/replica:0/task:0/cpu:0"](_arg_save/Const_0_0, save

[2017-12-26 13:46] #26 closed, assigned to nobody

[2017-12-27 21:47] warmspringwinds commented on #26
@WanteevNinja Have a look at this -- I ran it on a web cam:
https://github.com/warmspringwinds/pytorch-cpp#demos

[2017-12-27 21:49] ghost commented on #26
Thanks!

чт, 28 дек. 2017 г., 0:47 Daniil Pakhomov <notifications@github.com>:

[2018-01-10 06:53] kheffah commented on #10
I'm facing the same error, and there doesn't seem to be an available answer. Can anyone help? Thanks!

[2018-01-11 05:03] kheffah commented on #10
Got it! The dataset was corrupted as numpy decided to expand the dimensions of the image (M,N) -> (M,N,1) when I passed a slice of the image to another method rather than defining a separate np array. Hope this helps others facing the same issue.

[2018-01-19 17:29] adelra commented on #6
Can someone please explain how to solve this issue?

[2018-01-20 06:30] John1231983 opened #37 "Could you provide the Deeplab performance?"
Thanks for your great project!
In the project, it is deeplab-v2 version, Am I right? Could you please provide us the performance of your deeplab implementation? I am very happy to see it.

[2018-01-22 06:05] bohelion opened #38 "from tf_image_segmentation.utils.pascal_voc import get_augmented_pascal_image_annotation_filename_pairs ImportError: No module named 'tf_image_segmentation'"

[2018-01-22 06:08] bohelion commented on #38
I am a beginner, when I ran this code, I failed, there is this problem, I hope someone can help me, thank you

[2018-01-22 06:28] #38 closed, assigned to nobody

[2018-01-25 07:58] bohelion commented on #10
@kheffah Can you say more in detail? how to do?I am a beginner, it  would be greatful if you can share this.

[2018-01-25 13:50] kheffah commented on #10
@bohelion Sure. Actually the error was not from numpy, but from scipy.misc. In my case, I was reading the label mask with scipy.misc, but forgot to specify the `mode='I'` parameter, which resulted in my label having a 3rd dim (height, width, extra). So, when it was saved to the .tfrecords file, it had the wrong dimensions and did not fit the pre-specified dimensions of my TF graph. Hope this helps

[2018-01-27 16:42] Harsh2040 commented on #36
The question has been removed from stackoverflow.
Can you please send me the other links where i possibly found the solution of this problem?

[2018-01-29 00:01] Harsh2040 opened #39 "Unsuccessful TensorSliceReader constructor: Failed to find any matching files for /home/harsh/Documents/model_fcn8s_final.ckpt"
`%matplotlib inline

from __future__ import division

import os
import sys
import tensorflow as tf
import skimage.io as io
import numpy as np

sys.path.append("/home/harsh/Documents/models/research/slim/")

fcn_16s_checkpoint_path = '/home/harsh/Documents/model_fcn8s_final.ckpt'

os.environ["CUDA_VISIBLE_DEVICES"] = '1'

slim = tf.contrib.slim

sys.path.append("/home/harsh/Documents/")
from tf_ima

[2018-02-01 09:03] duan147 opened #40 "data_pascal_voc.py run error"
你好，我现在在运行这个代码时产生了下面的错误
Hello, I now have the following error when I run data_pascal_voc.py
Using TensorFlow backend.
Usage:
  G:/python  code/kreas-FCN-ATH/src/tf-image-segmentation-ahundt-keras/tf_image_segmentation/recipes/pascal_voc/data_pascal_voc.py [(with UPDATE...)] [options]
  G:/python  code/kreas-FCN-ATH/src/tf-image-segmentation-ahundt-keras/tf_image_segmentation/recipes/pascal_voc/data

[2018-02-01 14:20] bohelion commented on #11
I have the same error.Have you solved this problem?I need your help,thanks.

[2018-02-27 05:24] LiyaoTang opened #41 "Where is the checkpoint file?"
When importing the trained model, I got an error of .ckpt file not found. And actually the trained model seems not on the github.

May I ask where coud we download the trained model?

[2018-03-01 02:27] sumedhvdatar commented on #41
Yes can someone please tell out of 3 files,which is the ckpt file.

[2018-03-02 09:56] zx-code123 commented on #33
I met the same problem,did you slove it?

[2018-03-11 12:42] PascPeli opened #42 "logits and labels must be same size error and training issues"
When runing the following code I get this error "InvalidArgumentError (see above for traceback): logits and labels must be same size: logits_size=[1,65536] labels_size=[65536,1]" in cross_entropy_with_logits.
I can work around  this by doing

[code]

but not

[code]

And then when training the loss only increases continuously. I have changed the learning rate couple of times to no avail. I'm using

[2018-03-13 00:02] tjmac opened #43 "From Scratch"
I am looking for a tutorial or step-by-step instructions including pre-processing, labeling and creation of tfrecords for building an image segmentation pipeline. Any recommendations, especially on the labeling of a multi-class image and converting to tfrecords correct would be great! Thank you!

tjmac

[2018-03-19 14:30] EvilPerfectionist commented on #39
Hi, please change 'model_fcn8s_final.ckpt' to 'model_'fcn8s_final.ckpt.index' or 'fcn8s_final.ckpt.meta'. These files can be downloaded from 'https://github.com/warmspringwinds/tf-image-segmentation' where please try to find 'Model Download Link'. Good Luck! @Harsh2040

[2018-03-19 14:31] EvilPerfectionist commented on #41
Hi, please change 'model_fcn8s_final.ckpt' to 'model_'fcn8s_final.ckpt.index' or 'fcn8s_final.ckpt.meta'. These files can be downloaded from 'https://github.com/warmspringwinds/tf-image-segmentation' where please try to find 'Model Download Link'. Good Luck! @beihaifusang

[2018-04-04 08:13] damengdameng commented on #13
@GHmaryam  hi.i used your method, solved the original error, then there was a new error ..

OutOfRangeError (see above for traceback): RandomShuffleQueue '_3_shuffle_batch/random_shuffle_queue' is closed and has insufficient elements (requested 100, current size 0)
	 [[Node: shuffle_batch = QueueDequeueManyV2[component_types=[DT_FLOAT, DT_INT32], timeout_ms=-1, _device="/job:localhost/replica:0/ta

[2018-04-26 10:40] zBabar opened #44 "pretrained model with a test image: Invalid Argument and Incompatible Shapes"
I am trying to run pertained model with a test image. after settling lot of things still I got certain error like

InvalidArgumentError (see above for traceback): Incompatible shapes: [1,28,28,21] vs. [1,16,16,21]

[[Node: fcn_8s/add = Add[T=DT_FLOAT, _device="/job:localhost/replica:0/task:0/device:CPU:0"](fcn_8s/pool4_fc/BiasAdd, fcn_8s/conv2d_transpose)]]

Do I need to change the shape of the im

[2018-05-15 01:28] alyato commented on #11
I also meet the same problem. But i check my code carefully, finding the number of images are setted wrong. Can help your guys hopefully. thanks.

[2018-05-17 18:29] R-Miner commented on #11
I had the same problem. For me the image size was not correct.

[2018-05-21 13:31] zBabar commented on #11
can you please share more info regarding where we can make amendments to get it through

[2018-06-06 14:13] zhanghengsjtu opened #45 "sorry, the problem has been solved"

[2018-06-06 14:49] #45 closed, assigned to nobody

[2018-07-09 10:35] sarthakahuja11 commented on #34
@caxton how did you solve it? I have got a similar issue.

[2018-07-18 13:13] DiyuanLu commented on #10
in your code, change num_epochs to a larger number would solve the problem. I had the same problem and this worked fine for me.
filename_queue = tf.train.string_input_producer(
    [tfrecord_filename], num_epochs=10)

[2018-08-10 11:39] Raj7kumar7 commented on #43
tjmac Did u find any step-by-step instruction.If yes,Kindly share!!

[2018-09-09 08:17] Senyao-Han commented on #44
I believe it's a padding problem.
just go to slim/nets/vgg.py, change this line:
net = slim.conv2d(net, 4096, [7, 7], padding='VALID', scope='fc6')
to padding='SAME'. It will be okay.
The thing is, my result is not good. I've got low contrast images.

[2018-09-10 02:19] Senyao-Han opened #46 "got low contrast images"
I've tried fully_convolutional_networks.ipynb, but got low contrast images. They are basically all black images.

[2018-09-13 09:08] ghost opened #47 "Use segmentation for videos"
Hi,

How can I modify the code to be used for semantic segmentation of video frames. I used open-cv to process the frames of the video and basically send each frame to the model for segmentation but I'm getting an error  'utf-8' codec can't decode byte 0xff in position 0: invalid start byte. How do I fix this?

[2018-09-22 06:51] Senyao-Han commented on #34
I got this issue too. Do you solve this problem and how?

[2018-10-29 08:44] 1994cxy opened #48 "convert_pascal_voc_to_tfrecords.ipynb"
using convert_pascal_voc_to_tfrecords.ipynb to convert pascal and pascal_berkeley in to tfrecord and got a error:
Traceback (most recent call last):
  File "convert_pascal_voc_to_tfrecords.ipynb", line 18, in <module>
    mode=2)
  File "/home/cxy/Desktop/FCN_MIL_supervision_tensorflow-master/code/tf_image_segmentation/utils/pascal_voc.py", line 557, in get_augmented_pascal_image_annotation_filena

[2018-10-30 05:54] #48 closed, assigned to nobody

[2018-11-28 13:01] dhKwang commented on #10
maybe you should check your file name,try changing it to absolute path.

[2018-12-21 05:44] #41 closed, assigned to nobody

[2019-03-19 02:57] violet17 commented on #33
My python is 2.7 with tensorflow 1.12.
I added these code before caculating mIoU:
[code]

Because the later version of TF has added the assert:
[code]
from the comments of @xxxzhi in [https://github.com/tensorflow/models/issues/2239](url).

And it it so wired in TF 1.12 that I can't use the solution of [https://github.com/tensorflow/models/issues/2239](url). After using `tf.gather`, the shape of `

[2019-04-16 09:53] cdcky commented on #10
@kheffah ,Thank you!!!!!! repect from China,you save my life. 谢谢~~

[2019-04-19 01:13] violet17 opened #49 "How to get the output node name of the network?"
I want to freeze the network, but I don't know how to get the name of the output node name.